body {
    font-family: arial;
}

.content {
    width: 700px;
    height: 1000px;
}

.cl1 {
    margin-left: 300px;
    font-size: 8px;
    padding-top: 90px;
}

.cl2-img {
    
}

.img1 {
    height: 130.5px;
    width: 140.4px;
    padding-left: 120px;
    padding-top: 90px;
}

.p1 {
    padding-left: 118px;
}

.cl2-info {
    display: block;
    margin-left: 118px;
    font-size: 0.8em;
}

.h3cl2-end {
    font-size: 17px;
}

a {
    color: red;
}

.cl3 {
    
}

.nav {
    padding-left: 105px;
}

.ppp {
    margin-left: 650px;
    font-size: 16px
}

h1 {
    padding-top: 50px;
    padding-left: 260px;
    font-size: 20px;
}

.conntent {
    border: 45px solid #2359af;
    width: 750px;
    margin-left: 425px;
}

.block1 {
    padding-left: 85px;
}

.block2 {
    padding-left: 75px;
}

.block3 {
    padding-left: 60px;
}

.block4 {
    padding-left: 55px;
}

.block5 {
    padding-left: 60px;
}

hr {
    width: 600px;
}

img {
    border-radius: 15px;
    display: block;
    margin-left: 22px;
    width: 300px;
    height: 300px;
}